<div class="row"style="font-family:'Courier New', Courier, monospace;color:#F5F5F5;  margin: auto;
height: 100%; ">
    <div class="card para col-6 .col-sm-12 ">
    <div class=" card-body border-dark ss "style="background-color: darkgray";  >
        <div class="con">
            <h1 class="so card-title wow slideInLeft" style="font-size: 3vw; font-weight: 800;";>Its Me Ramesh</h1>
    <p class="para wow slideInRight"style="font-size: 1.3vw;font-weight: 500";>
        A paragraph is a series of related sentences developing a central idea, called the topic. 
        Try to think about paragraphs in terms of thematic unity: 
        a paragraph is a 
        sentence or a group of sentences that supports one central, unified idea. Paragraphs add one idea a
        t a time to your broader argument.


    </p>
        </div>

</div>

    </div>
    <div class='photo col-6 .col-sm-12 card  '>
        <div class=" card-body border-dark">
            <h1 class="card-title"><img src="/images/head.jpg" class="img-thumbnail im float-right WOW  fadeInUp" alt="Responsive image"></h1>
        
    </div>
</div>
</div>
  
<script>
 $( document ).ready(function() {
  new WOW().init();
});

</script>