<footer class="page-footer font-small blue pt-4" style="margin-bottom:0;">
<style>
  .ho a:hover{
    color: black;;

  }
  .zo:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">USEFUL LINKS</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled ho">
          <li >
            <a href="https://edusanjal.com/">Educational News</a>
          </li>
          <li>
            <a href="https://www.tuexam.edu.np/">TU, Office of the Controller of Examination</a>
          </li>
          <li>
            <a href="http://www.ugcnepal.edu.np/">Tribhuvan University Results
              University Grants Commission</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
    </div>
      <!-- Grid column -->

  <!-- Footer Links -->

  <!-- Copyright -->
  
  
  <!-- Copyright -->

</div>


  <!-- Footer Elements -->


    <!-- Grid row-->

    <div class="contai" style=" background-color: darkslategrey;"  >

      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5" style="height: 10px;">
          <div class="mb-5 flex-center">
  
            <!-- Facebook -->
            <p style="color:floralwhite">Find us On Facebook
            <br>
            <br><a class="fb-ic"href="https://www.facebook.com/avn.dhangadhi/">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x zo" style="margin-left: 45px;"> </i>
            </a></p>
            
            <!-- Twitter -->
            
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
